---
layout: default
---

<script type="text/javascript">
</script>

{% assign counter = 1 %}
{% assign pageNumber = 1 %}

<div class="posts">
  {% for post in site.posts %}
  {% increment counter %}
    <article class="post" id="index-post-{{counter}}">

      <h1>        
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> 
      </h1>
        <p style="color: grey;"> <em>Published: </em>{{ post.date | date: "%m/%d/%Y" }}</p>


      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      <hr />
    </article>
  {% endfor %}
</div>

<div class="pagination">
  <!-- <a href="#">&laquo;</a> -->
  {% for count in counter %}
    {% if count % 10 == 0 %}
      <a href="#" data-pageNumber="{{pageNumber}}">{{pageNumber}}</a>
      {% increment pageNumber %}
    {% endif %}
  {% endFor %}
  <!-- <a href="#">&raquo;</a> -->
</div>
