<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% feed_meta %}

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="canonical" href="{{site.url}}{{page.url}}"> 
  </head>
  <body>
    <header class="page-header" role="banner">
<!--Content before waves-->
<div class="inner-header flex">
  <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
  <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
  </div>
  
  <!--Waves Container-->
  <div>
  <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
  <defs>
  <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
  </defs>
  <g class="parallax">
  <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
  <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
  <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
  <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
  </g>
  </svg>
  </div>
  <!--Waves end-->
  
  </div>
  <!--Header ends-->    </header>

    <nav class="main-content">
      <a href="/">Home</a>
      - <a href="/about">About me</a>
      - <a href="/books">Reading List</a> 
      - <a href="https://calendar.app.google/egkVt1Dkd4uqc4fz7" target="_blank">Book time with me</a>
      - <a href="/reusme">Resume</a>
      <!-- - <a href="http://stacked-development.com/" tagert="_blank">My company: Stacked Development</a> -->
    </nav>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <span class="site-footer-credits">
          Feel free to connect with me on <a href="https://www.linkedin.com/in/adambourg">LinkedIn</a>. 
          | <a href="/feed.xml">RSS</a></span>
          | <a href="https://dev.to/snowmac">
            <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Adam's DEV Profile" height="30" width="30" style='padding-top:5px;'>
          </a>
      </footer>
    </main>
  </body>
</html>
